<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block text-white">
            {{ getNameAcronyms() }}
          </div>
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn nav-link dropdown-toggle"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Hi {{ getFirstName() }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Settings</button>
              <button ngbDropdownItem>Logout</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <img
      src="../../assets/images/angelina-jolie.jpg"
      alt="..."
      class="img-thumbnail"
    />
    <h5 class="username text-white">
      {{ username }}
    </h5>
  </div>
  <!-- <img src="../../assets/images/background-image.png" class="background-img" alt="" srcset=""> -->
</div>
